
html{
    position:relative;
    min-height: 100%;
}
body {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #aaaaaa;
    background: #ffffff;
}

img {
  max-width: 130px;
  max-height: 130px;
}

@media (max-width: 991px) {
    body {
        margin-bottom: 100px;
    }
}

.main {
    padding: 30px 0 10px 0;
}

@media (max-width: 440px) {
    .main {
        padding-bottom: 12px;
    }
}

@media (max-width: 360px) {
    .main {
        padding-left: 5px;
    }
}

.training {
    padding: 25px 0 0 10px;
}

.twitter {
    padding: 15px 0 0 10px;
    float: left;
}

@media (max-width: 992px) {
    .training {
        padding-top: 0;
        padding-left: 40px;
    }

    .twitter {
        padding-top: 0;
        padding-left: 40px;
    }
}

@media (max-width: 768px) {
    .training {
        padding-left: 30px;
    }

    .twitter {
        padding-left: 30px;
    }
}
.leader {
    padding-top: 14px;
}

.date {
    color: #000000;
    float: left;
    padding-right: 20px;
    padding-left: 12px;
    border-left: 2px solid #666666;
    margin-bottom: 21px;
    margin-left: 6px;
    text-align: center;
}

.date_first {
    color: #000000;
    float: left;
    padding-right: 20px;
    padding-left: 12px;
    border-left: 2px solid #0177ff;
    margin-bottom: 21px;
    margin-left: 6px;
    text-align: center;
}

.promo {
    padding: 0 15px 60px;
    float: left;
    text-align: center;
    color: #000000;
}

@media (max-width: 991px) {
    .promo {
        padding-bottom: 20px;
    }
}

.lightblue {
    color: #0177ff;
}

.subCTA {
    padding-left: 20px;
    float: left;
}

.logo {
    padding: 15px 0 30px 0;
}


.carat {
    margin: 0;
}

@media (max-width: 767px) {
    .carat {
        padding-bottom: 15px;
    }
}

#footer {
    background: #0177ff;
    padding: 6px 0 7px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-link {
    margin: 0 auto;
}

@media (max-width: 440px) {
    .footer {
        padding-left: 20px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 27px;
    margin: 0;
}

h2 {
    font-size: 22px;
    margin: 0;
}

h3 {
    font-size: 18px;
    margin-top: 8px;
}

h4 {
    font-size: 14px;
    color: #666666;
    margin: 0;
    padding-top: 2px;
}

h5 {
    font-size: 14px;
    color: #ffffff;
    margin-left: 35px;
    margin-bottom: 0;
    margin-top: 5px;
}

h6 {
    font-size: 14px;
    color: #0177ff;
    margin: 0;
    padding-top: 2px;
}

hr {
    margin: 3px 0;
}

/** Search **/

.search {
  margin-bottom: 15px;
}

.form-control {
  border-radius: 2px;
}


/** Logo **/

.logo {
  text-align: center;
}

/** Buttons **/

.xtuple-buttons {
  margin-bottom: 10px;
}

.xtuple-btn {
  text-align: center;
  margin-bottom: 5px;
}

.btn {
  background-color: #eee;
  width: 100%;
  color: #173095;
  border-radius: 2px;
}

.btn:hover {
  color: #333;
}

@media (min-width: 992px) {
  .xtuple-btn.col-md-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1200px) {
  .xtuple-btn.col-md-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}








